<html>
<head>
	  <title>MyLearn</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="../../Scripts/Angular and Bootstrap/Bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../Vistas/Estilo/css/Estilos_login.css">
	<link rel="shortcut icon"type="image/x/icon" href="../../Vistas/Estilo/img/iconpage.ico">
</head>
<header>
		<div class="wrapper">
			<div class="logo">MyLearn
				<div class="img">
					<a><img src="../../Vistas/Estilo/img/ball.png" class="img-responsive img-rounded"alt=""></a>
				</div>
			</div>

			<nav>
				<a>Acerca de nosotros</a>
				<a>Ayuda en Línea</a>
			</nav>
		</div>
</header>
<body>
	<div class="container">
		<br/><br/><br/><br/>
    <form action=""class="">
      <div class="form-group">
				<div class="col-md-8">
					<div class="col-md-offset-6">
					<label for="Nombre">Nombre de usuario:</label>
						<input  class="form-control" id="Usuario"type="text" data-ng-model="usuario">
					</div>
				</div>
      </div>
		<br/><br/><br/><br/>
			<div class="form-group">
				<div class="col-md-8">
					<div class="col-md-offset-6">
						<label for="Contraseña">Contraseña:</label>
						<input  class="form-control" id="Contraseña"type="password" data-ng-model="contrasena">
					</div>
				</div>
			</div>
		</form>
	</div>
		<br/><br/>
	<div class="container">
		<div class="col-md-10">
			<div class="col-md-offset-5">
				<a class="btn btn-success btn-lg" data-ng-click="do_goPerfilEmpresa()">Iniciar sesión</a>&nbsp; &nbsp;&nbsp; &nbsp;
				<a class="btn btn-tcc btn-default btn-lg" data-ng-click="crearCuentaComo()">Crear una cuenta</a>
                <h3 data-ng-hide="!bool_errorLogin"><span class="label label-danger">Usuario o contraseña incorrecto</span></h3>
			</div>
		</div>

	</div>



	</body>

	<script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script
</html>
