<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div id="ventana1">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--Header Ventana-->
                <div class="modal-header">
                    <h2 class="modal-tittle">Badges a otorgar:</h2>
                </div>
                <!--Contenido-->
                <div class="modal-body">
                    <div class="container-fluid" >
                            <div class="col-md-3" data-ng-repeat="badge in ls_badgesSA">
                                <label for="NBadge">{{badge.Nombre}}</label>
                                <img src="../../Vistas/Estilo/img/badgepeq.png" class="img-responsive img-rounded" alt="">
                                <a class="btn btn-tcc btn-default btn-sm" data-ng-click="otorgarBadge(badge)">Asignar</a>

                            </div>
                            <h3 data-ng-hide="!publicadoExitosamente"><span class="label label-success">Se otorgó exitosamente</span></h3 >
                            <h3 data-ng-hide="!publicadoErroneamente"><span class="label label-danger">No se pudo otorgar</span></h3>
                    </div>

                </div>
                <!--Footer-->
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

</body>
</html>
