<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Scripts/Angular and Bootstrap/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Vistas/Estilo/css/Estilos_CrearCE.css">
</head>
<header>
		<div class="wrapper">
			<div class="logo">Crear Cuenta
				<div class="img">
                    <a href="#"><img src="../../Vistas/Estilo/img/ball.png" class="img-responsive img-rounded" alt=""></a>
				</div>
			</div>
		</div>
</header>
<br><br><br>
<body>
	<div class="container">
		<div class="col-md-6">
			<br/>
            <form action="" class="">
                <div class="form-group">
                    <label for="Nombre">Nombre:</label>
                    <input class="form-control" id="nombre_deUsuario" type="text" data-ng-model="js_crearCuentaJson.NombreContacto">
                </div>
                <div class="form-group">
                    <label for="Apellido">Primer Apellido:</label>
                    <input class="form-control" id="nombre_deUsuario" type="text" data-ng-model="js_crearCuentaJson.ApellidoContacto">
                </div>
                <div class="form-group">
                    <label for="Email">Correo Electrónico:</label>
                    <input class="form-control" id="nombre_deUsuario" type="text" data-ng-model="js_crearCuentaJson.Email">
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input class="form-control" id="nombre_deUsuario" type="text" data-ng-model="js_crearCuentaJson.Telefono">
                </div>
                <div class="form-group">
                    <label for="NombreU">Nombre de usuario:</label>
                    <input class="form-control" id="nombre_deUsuario" type="text" data-ng-model="js_crearCuentaJson.Id">
                </div>
                <div class="form-group">
                    <label for="Contraseña">Contraseña:</label>
                    <input class="form-control" id="contraseña" type="password" data-ng-model="js_crearCuentaJson.Contrasena">
                </div>
                <div class="form-group">
                    <label for="Confirmación">Confirmación de contraseña:</label>
                    <input class="form-control" id="confirmacion" type="password">
                </div>
                <div class="form-group">
                    <label for="País">País:</label>
                    <select ng-options="pais.Pais1 for pais in lst_listaPaises" class="form-control" data-ng-model="paisSelected" data-ng-change="changePais()"></select>
                </div>

                <div class="form-group">
                    <label for="Dirección">Dirección:</label>
                    <input class="form-control" id="ubicación" type="text" data-ng-model="js_crearCuentaJson.Region">
                </div>
								<div class="form-group">
									<label for="option">Universidad a la que pertenece:</label>
												<select class="form-control" name="" id="U">
													<option value="">TEC</option>
													<option value="">UCR</option>
													<option value="">UNA</option>
													<option value="">UNED</option>
												</select>
								</div>
								<div class="form-group">
										<label for="carné">Carné Estudiantil:</label>
										<input class="form-control" id="ID" type="text" data-ng-model="js_crearCuentaJson.Carne">
								</div>
								<div class="form-group">
										<label for="option">Repositorios de documentos disponibles:</label>
										<select class="form-control" name="" id="option">
												<option value="">Google Drive</option>
												<option value="">Dropbox</option>
										</select>
								</div>
								<div class="form-group">
										<label for="Hoja de vida">Link a Hoja de Vida:</label>
										<input class="form-control" id="Hoja de vida" type="text" data-ng-model="js_crearCuentaJson.LinkHojaDeVida">
								</div>
								<div class="form-group">
										<label for="Repositorio">Link de repositorios de código disponibles:</label>
										<input class="form-control" id="Repositorios" type="text" data-ng-model="js_crearCuentaJson.RepositorioCodigo">
								</div>
								<label for="tecnologías">Seleccione las tecnologías que domina:</label>
                <div class="scrollit">
                    <div class="col-md-offset-0">
                        <table class="table table-bordered table-condensed prom1">
                            <tr>
                                <th>Nombre de la Tecnología</th>
                                <th>Agregar</th>
                            </tr>
                            <tr data-ng-repeat="tec in ls_tecnologias  | filter: search">
                                <td>{{tec.Nombre}}</td>
                                <td><a class="btn btn-success btn-md" data-ng-click="do_agregueTec(tec)">Agregar</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                    <label for="tecnologías">Tecnologías agregadas:</label>
                <div class="scrollit" data-ng-hide=!ls_tecnologiasSelect.length>
                    <div class="col-md-offset-0">
                        <div >
                            <table class="table table-bordered table-condensed prom1">
                                <tr>
                                    <th>Nombre de la Tecnología</th>
                                    <th>Borrar</th>
                                </tr>
                                <tr data-ng-repeat="tec in ls_tecnologiasSelect  | filter: search">
                                    <td>{{tec.Nombre}}</td>
                                    <td><a class="btn btn-danger btn-md" data-ng-click="do_doleteSelected(tec)">Borrar</a></td>
                                </tr>
                            </table> <br><br>
                        </div>
                    </div>
                </div>





</form>
<div class="container">
		<div class="col-md-10">
				<div class="col-md-offset-1">
						<a class="btn btn-tcc btn-default btn-lg" data-ng-click="sendCuenta()">Crear una cuenta</a>
						<a class="btn btn-danger btn-lg" data-ng-click="goCrearCuenta()">Cancelar</a>
				</div>
		</div>

		</div>


  </div>



	</body>

	<script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script
</html>
