<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Scripts/Angular and Bootstrap/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Vistas/Estilo/css/Estilos_CursosD.css">
</head>
<header>
		<div class="wrapper">
			<div class="logo">Cursos Disponibles
				<div class="img">
                    <a  data-ng-click="do_goPerfil()"><img src="../../Vistas/Estilo/img/ball.png" class="img-responsive img-rounded img1" alt=""></a>
				</div>
			</div>
			<nav>
				<a data-ng-click="do_goPerfil()">Mi Perfil</a>
                <a data-ng-click="goSubastas()">Subastas</a>
				<a href="#ventana1"data-toggle="modal">Notificaciones</a>
				<a>Cerrar Sesión</a>
			</nav>
		</div>
		<div class="modal fade" id="ventana1">
			<div class="modal-dialog">
				<div class="modal-content">
					<!--Header Ventana-->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
						<h2 class="modal-tittle">Mis Notificaciones:</h2>
					</div>
					<!--Contenido-->
					<div class="modal-body">
					</div>
					<!--Footer-->
					<div class="modal-footer">
						<button type="button"class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
</header>
<br><br><br>
<body>
	<div class="container-fluid">
		<section class="main row">
				<article class="col-md-12">
					<h2>Mi Infomación:</h2><br>
					<label for="Nombre">Nombre de usuario: {{js_estudianteActual.NombreContacto}} {{js_estudianteActual.ApellidoContacto}}</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
					<label for="Link a Hoja de vida">Link de Hoja de vida: {{js_estudianteActual.LinkHojaDeVida}}</label><br>
					<label for="Carné Estudiantil">Carné Estudiantil: {{js_estudianteActual.Carne}}</label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
					<label for="País">País: {{js_estudianteActual.Pais}}</label>&nbsp; &nbsp; &nbsp;<br>
					<label for="Repositorio de código">Repositorio de Código: {{js_estudianteActual.RepositorioCodigo}}</label>
			</article>

			</div>

		</section>
		<br><br><br>
		<div class="container-fluid pr2">
			<div class="col-md-2">
					<h1 class="pr1" data-ng-click="do_goPerfil()"><span class="glyphicon glyphicon-arrow-left" data-ng-click="do_goPerfil()"></span> Mi Perfil</h1>

				</div>


			</div>


			<div class="col-md-9 color1">
					<div class="col-md-offset-4">
						<h2>Proyectos de Cursos:</h2>
                        <h2 data-ng-hide="!publicadoExitosamente"><span class="label label-success">Se incluyó exitosamente</span></h2>
                        <h2 data-ng-hide="!publicadoErroneamente"><span class="label label-danger">No se pudo incluir</span></h2><br>
						<table class="table table-bordered table-hover table-condensed prom1">
								<tr>
										<th>Nombre del Curso</th>
										<th>Estado</th>
								</tr>
								<tr data-ng-repeat="curso in js_cursosUniversidad">
										<td>{{curso.Nombre}}</td>
										<td><a class="btn btn-tcc btn-default btn-md" data-ng-click="do_incluirme(curso)">Incluirme</a></td>
								</tr>
					</table> <br><br>


					</div>


		</div>



	</body>

	<script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script
</html>
