<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Scripts/Angular and Bootstrap/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Vistas/Estilo/css/Estilos_PerfilE.css">
</head>
<header>
		<div class="wrapper">
			<div class="logo">Mi Perfil
				<div class="img">
                    <a data-ng-click="do_goPerfil()"><img src="../../Vistas/Estilo/img/ball.png" class="img-responsive img-rounded img1" alt=""></a>
				</div>
			</div>
			<nav>
				<a data-ng-click="goCursosDisponibles()">Cursos Disponibles</a>
				<a data-ng-click="goSubastas()">Subastas</a>
				<a href="#ventana1"data-toggle="modal">Notificaciones</a>
                <a data-ng-click="cerrarSesionService.cerrarEstaSesion()">Cerrar Sesion</a>
			</nav>
		</div>
		<div class="modal fade" id="ventana1">
			<div class="modal-dialog">
				<div class="modal-content">
					<!--Header Ventana-->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
						<h2 class="modal-tittle">Mis Notificaciones:</h2>
					</div>
					<!--Contenido-->
					<div class="modal-body">
						<label for="">o</label> <br>
							<label for="">mm</label>
					</div>
					<!--Footer-->
					<div class="modal-footer">
						<button type="button"class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
</header>
<br><br><br>
<body>
	<div class="container-fluid">
		<section class="main row">
			<article class="col-md-8">
				<br>
			<h2>Mi Infomación:</h2><br>
				<label for="Nombre">Nombre de usuario: {{js_datosEstudiante.NombreContacto}}</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
				<label for="Link a Hoja de vida">Link de Hoja de vida: {{js_datosEstudiante.LinkHojaDeVida}}</label><br>
				<label for="Carné Estudiantil">Carné Estudiantil: {{js_datosEstudiante.Carne}}</label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
				<label for="País">País: {{js_datosEstudiante.Pais}}</label>&nbsp; &nbsp; &nbsp;<br>
				<label for="Repositorio de código">Repositorio de Código: {{js_datosEstudiante.RepositorioCodigo}}</label>
		</article>
		<aside class="col-md-1">
			<h3>Foto:</h3>
			<div class="form-group">
				<input type="file" id="foto">
				<p class="help-block">Máximo 50mb</p>
				<a class="btn btn-tcc btn-default btn-md">Añadir</a>
			</div>

		</aside>
		</section>
		<br><br><br>
		<div class="row">
			<div class="col-md-6 color1">
				<h3>Proyectos de Cursos:</h3>
				<table class="table table-bordered table-hover table-condensed prom1">
						<tr>
								<th>Nombre del Proyecto</th>
								<th>Estado</th>
						</tr>
                    <tr data-ng-repeat="proyecto in ls_proyectos  | filter: search" data-ng-hide="proyecto.EstadoProyecto != 'A'" data-ng-click="do_goProyecto(proyecto)">
                        <td>{{proyecto.NombreProyecto}}</td>
                        <td>{{proyecto.EstadoProyecto}}</td>
                    </tr>
                    <tr data-ng-repeat="proyecto in ls_proyectos  | filter: search" data-ng-hide="proyecto.EstadoProyecto != 'T'" data-ng-click="do_goProyectoLectura(proyecto)">
                        <td>{{proyecto.NombreProyecto}}</td>
                        <td>{{proyecto.EstadoProyecto}}</td>
                    </tr>
			</table>
			<div class="col-md-5">
					<nav class="nav1">
							<ul class="pager">
									<li class="previous prev"><a>&larr; Anterior</a></li>
									<li class="next"><a>Siguiente &rarr; </a></li>

							</ul>
					</nav>

			</div><br><br><br><br><br>
			<h3>Mis Cursos:</h3>
			<table class="table table-bordered table-condensed prom2">
					<tr>
							<th>Nombre del Curso</th>
							<th>Nota Obtenida</th>
							<th>Estado</th>
              <th>Realize una propuesta</th>
					</tr>
                <tr data-ng-repeat="curso in ls_cursos  | filter: search" >
                    <td>{{curso.Nombre}}</td>
                    <td>{{curso.NotaMinima}}</td>
                    <td>{{curso.Estado}}</td>
                    <td><a class="btn btn-success" data-ng-click="do_goCurso(curso)" data-ng-hide= "curso.Estado != 'P'" >Proponer Proyecto</a></td>
				</table>
				<nav class="nav1">
						<ul class="pager">
								<li class="previous prev"><a>&larr; Anterior</a></li>
								<li class="next"><a>Siguiente &rarr; </a></li>

						</ul>
				</nav>

			</div>
            <div class="col-md-6">
                <h3>Trabajos para Empresa:</h3>
                <table class="table table-bordered table-hover table-condensed prom1">
                    <tr>
                        <th>Nombre del Proyecto</th>
                        <th>Estado</th>
                    </tr>
                    <tr data-ng-repeat="trabajos in ls_trabajos  | filter: search" data-ng-click="do_goTrabajo(trabajos)">
                        <td>{{trabajos.Nombre}}</td>
                        <td>{{trabajos.EstadoTrabajo}}</td>
                </table>
								<nav class="nav1">
										<ul class="pager">
												<li class="previous prev"><a>&larr; Anterior</a></li>
												<li class="next"><a>Siguiente &rarr; </a></li>
											</ul>
								</nav>
								<br><br>
                <div class="container-fluid">
                    <section class="main row">
                        <article class="col-md-6">
                            <h3>Mi Historial académico:</h3><br>
                            <label for="Promedio Ponderado">Promedio Ponderado Mis Cursos: {{ls_estadisticas.PromedioNotasProyecto}}</label><br><br>
                            <label for="Cursos aprobados">Cursos Aprobados: {{ls_estadisticas.numProyectosAprobados}}</label>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                            <label for="VS">VS</label>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                            <label for="Cursos Reprobados">Cursos Reprobados: {{ls_estadisticas.numProyectosReprobados}}</label><br><br><br>
                            <label for="Proyectos Exitosos">Proyectos Exitosos:{{ls_estadisticas.numTrabajosExitosos}}</label>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                            <label for="VS">VS</label>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                            <label for="Proyectos Fallidos">Proyectos Fallidos: {{ls_estadisticas.numTrabajosNoExitosos}}</label>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                        </article>

                    </section>

                </div><br><br>


            </div>




	</body>

	<script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script
</html>
