<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Escriba su mensaje</h3>
    </div>
    <div class="modal-body" id="modal-body">

        <div class="form-group">
            <textarea class="form-control" id="mensaje" data-ng-model="js_enviarMensaje.Contenido"></textarea>
            <br><br>
                <a class="btn btn-tcc btn-default btn-md" data-ng-click="enviarMensajeResp()">Enviar</a>
                <a class="btn btn-tcc btn-default btn-md">Adjuntar Archivo</a>
            </div>
        </div>
    </div>

</body>
</html>
