<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Scripts/Angular and Bootstrap/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Vistas/Estilo/css/Estilos_login.css">
</head>
<header>
		<div class="wrapper">
			<div class="logo">Crear Cuenta
				<div class="img">
                    <a href="#"><img src="../../Vistas/Estilo/img/ball.png" class="img-responsive img-rounded" alt=""></a>
				</div>
			</div>
		</div>
</header>
<br><br><br>
<body>
	<div class="container">
		<div class="col-md-6">
			<br/>
	    <form action=""class="">
				<div class="form-group">
	        <label for="Nombre">Nombre:</label>
	        <input  class="form-control" id="nombre_deUsuario"type="text" data-ng-model="crearCuentaJson.NombreContacto">
	      </div>
				<div class="form-group">
					<label for="Apellido">Primer Apellido:</label>
					<input  class="form-control" id="nombre_deUsuario"type="text" data-ng-model="crearCuentaJson.ApellidoContacto">
				</div>
				<div class="form-group">
	        <label for="Email">Correo Electrónico:</label>
	        <input  class="form-control" id="nombre_deUsuario"type="text" data-ng-model="crearCuentaJson.Email">
	      </div>
				<div class="form-group">
	        <label for="Email">Número Telefónico:</label>
	        <input  class="form-control" id="nombre_deUsuario"type="text" data-ng-model="crearCuentaJson.Telefono">
	      </div>
	      <div class="form-group">
	        <label for="NombreU">Nombre de usuario:</label>
	        <input  class="form-control" id="nombre_deUsuario"type="text" data-ng-model="crearCuentaJson.Id">
	      </div>
				<div class="form-group">
	        <label for="contraseña">Contraseña:</label>
	        <input  class="form-control" id="contraseña"type="password" data-ng-model="crearCuentaJson.Contrasena">
	      </div>
				<div class="form-group">
	        <label for="confirmacion">Confirmación de contraseña:</label>
	        <input  class="form-control" id="confirmacion"type="password">
	      </div>
				<div class="form-group">
	        <label for="país">País:</label>
                    <select  ng-options="pais.Pais1 for pais in listaPaises" class="form-control" data-ng-model="paisSelected" data-ng-change="changePais()"></select>
	      </div>
				<div class="form-group">
	        <label for="dirección">Dirección:</label>
	        <input  class="form-control" id="ubicación"type="text" data-ng-model="crearCuentaJson.Region">
	      </div>
				<div class="form-group">
					<label for="option">Universidad a la que pertenece:</label>
								<select class="form-control" name="" id="U">
									<option value="">TEC</option>
									<option value="">UCR</option>
									<option value="">UNA</option>
									<option value="">UNED</option>
								</select>
				</div>
				<div class="form-group">
	        <label for="Horas de Atención">Horas de Atención:</label>
	        <input  class="form-control" id="ubicación"type="text" data-ng-model="crearCuentaJson.HorarioAtencion">
	      </div>
				<div class="form-group">
	        <label for="option">Repositorios de documentos disponibles:</label>
	              <select class="form-control" name="" id="option">
	                <option value="">Google Drive</option>
	                <option value="">Dropbox</option>
	              </select>
	      </div>
				<br>
				<div class="container">
					<div class="col-md-10">
						<div class="col-md-offset-1">
							<a class="btn btn-tcc btn-default btn-lg" data-ng-click="sendCuenta()">Crear una cuenta</a>
							<a class="btn btn-danger btn-lg">Cancelar</a>
						</div>
					</div>

				</div>






	    </form>

		</div>


  </div>



	</body>

	<script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</html>
