<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Scripts/Angular and Bootstrap/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Vistas/Estilo/css/Estilos_CrearCurso.css">
</head>
<header>
		<div class="wrapper">
			<div class="logo">Crear Curso
				<div class="img">
                    <a href="#"><img src="../../Vistas/Estilo/img/ball.png" class="img-responsive img-rounded" alt=""></a>
				</div>
			</div>
			<nav>
				<a>Mi Perfil</a>
				<a>Ayuda en Linea</a>
				<a>Cerrar Sesión</a>
			</nav>
		</div>
</header>
<br><br><br>
<body>
	<div class="container-fluid">
		<div class="container-fluid pr2">
			<div class="col-md-2">
					<h1 class="pr1"><span class="glyphicon glyphicon-arrow-left"></span> Mi Perfil</h1>
			</div>
		</div><br><br>
		<div class="row">
			<div class="col-md-6 color1">
				<div class="container-fluid">
					<section class="main row">
						<article class="col-md-6">
							<h2>Información del nuevo curso:</h2>
							<div class="col-md-8">
								<form action=""class="">
									<div class="form-group">
										<label for="nombre" >Nombre del Curso:</label>
										<input  class="form-control" id="nombre"type="text" data-ng-model="js_crearCurso.Nombre">
									</div>
									<div class="form-group">
                                        <div class="form-group">
                                            <label for="Universidad">Universidad:</label>
                                            <select ng-options="universidad.Nombre for universidad in ls_listaUniversidades" class="form-control" data-ng-model="universidadSelected" data-ng-change="changeUniversidad()"></select>
                                        </div>
									<div class="form-group">
										<label for="fecha">Fecha de Inicio:</label>
										<input  class="form-control" id="fecha"type="date" data-ng-model="js_crearCurso.FechaInicio">
									</div>
									<div class="form-group">
										<label for="nota" >Nota mínima de aprobación:</label>
										<input  class="form-control" id="nota"type="text" data-ng-model="js_crearCurso.NotaMinima">
									</div>
                                        <div class="form-group">
                                            <label for="grupo">Numero de grupo:</label>
                                            <input class="form-control" id="grupo" type="text" data-ng-model="js_crearCurso.NumeroGrupo">
                                        </div>
								</form>

							</div>

					</article>

					</section>

				</div><br><br>
			<div class="container-fluid">
					<section class="main row">
						<article class="col-md-7">
							<h2>Asignación de Badges:</h2>
							<div class="container-fluid">
			          <div class="col-md-7">
			            <form action=""class="">
			              <div class="form-group">
			                <br>
			                <label for="nombre">Nombre del Badge:</label>
			                <input  class="form-control" id="nombre"type="text">
			              </div>
										<div class="form-group">
			                <label for="valor">Valor:</label>
			                <input  class="form-control" id="valor"type="text">
			              </div>
										<a class="btn btn-tcc btn-default btn-lg">Agregar</a>&nbsp; &nbsp;&nbsp; &nbsp;
									</div>
								</div>
							<form>


				</div><br>

			</div>
			<div class="col-md-6">
				<h2>Badges Agregados:</h2>
				<table class="table table-bordered table-condensed prom1">
						<tr>
								<th>Número</th>
								<th>Ícono</th>
								<th>Valor</th>
								<th>Eliminar</th>
						</tr>
                    <tr data-ng-repeat="badge in ls_badges | filter: search" >
                        <td>1</td>
                        <td><img src="../../Vistas/Estilo/img/badgepeq.png" class="img-responsive img-rounded" alt=""></td>
                        <td>50%</td>
                        <td><a class="btn btn-danger btn-md" data-ng-click="do_deleteBadge(badge)">Eliminar</a></td>
                    </tr>
						<tr>
								<td>2</td>
							<td><img src="img/badgepeq.png" class="img-responsive img-rounded"alt=""></td>
								<td>25%</td>
								<td><a class="btn btn-danger btn-md">Eliminar</a></td>
						</tr>
						<tr>
								<td>3</td>
							<td><img src="img/badgepeq.png" class="img-responsive img-rounded"alt=""></td>
								<td>25%</td>
								<td><a class="btn btn-danger btn-md">Eliminar</a></td>
						</tr>
			</table><br>
			<div class="container-fluid">
				<div class="col-md-offset-5">
					<a class="btn btn-ttc btn-default btn-lg" data-ng-click="dp_crearCurso()">Crear Curso</a>
				</div>

			</div>

				</div>



	</body>

	<script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script
</html>
