<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Scripts/Angular and Bootstrap/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Vistas/Estilo/css/Estilos_CursosD.css">
</head>
<header>
		<div class="wrapper">
			<div class="logo">Curso:
				<div class="img">
                    <a href="#"><img src="../../Vistas/Estilo/img/ball.png" class="img-responsive img-rounded" alt=""></a>
				</div>
			</div>
			<nav>
				<a data-ng-click="do_goPerfil()">Mi Perfil</a>
				<a>Crear Curso</a>
				<a>Ayuda en Linea</a>
				<a>Cerrar Sesión</a>
			</nav>
		</div>
</header>
<br><br><br>
<body>
	<div class="container-fluid">
		<section class="main row">
			<article class="col-md-8">
				<br>
			<h3>Nombre del Profesor: {{profesorActual.NombreContacto}} {{profesorActual.ApellidoContacto}}</h3><br>
		</article>
		</section>
		<br><br><br>
		<div class="row">
			<div class="col-md-6 color1">
				<div class="container-fluid">
				<section class="main row">
					<article class="col-md-6">
						<h3>Informacion General:</h3><br>
						<label for="Nombre del Curso">Nombre del curso: {{cursoActual.Nombre}}</label><br><br>
						<label for="Fecha de inicio">Fecha de Inicio: {{cursoActual.FechaInicio}}</label>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
						<label for="Fecha de finalización">Fecha de Finalización:</label><br><br><br>
						<label for="Proyectos Exitosos">Nota mínima de aprobación:{{cursoActual.NotaMinima}}</label>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
						<label for="Proyectos Fallidos">Estado:{{cursoActual.Estado}}</label>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
				</article>
			</section>
			</div> <br><br>
			<h3>Badges:</h3>
			<table class="table table-bordered table-condensed prom2">
					<tr>
							<th>Nombre</th>
							<th>Ícono</th>
							<th>Valor</th>
					</tr>
					<tr data-ng-repeat="badge in ls_badges">
							<td>{{badge.Nombre}}</td>
							<td><img src="../../Vistas/Estilo/img/badgepeq.png" class="img-responsive img-rounded"alt=""></td>
							<td>{{badge.Puntaje}}</td>
					</tr>

		</table>

			</div>
			<div class="col-md-6">
				<h3>Miembros del Curso:</h3>
				<table class="table table-bordered table-condensed prom2">
						<tr>
								<th>Nombre del Estudiante</th>
								<th>Proyecto Activo</th>
								<th>Nota</th>

						</tr>
						<tr data-ng-repeat="est in ls_estudiantes">
								<td>{{est.NombreContacto}}</td>
								<td><a class="btn btn-tcc btn-default btn-md">Ver Proyecto</a></td>
								<td>{{est.NotaObtenida}}</td>



						</tr>
						<tr>
								<td>2</td>
								<td></td>
								<td>0</td>
								<td><a class="btn btn-tcc btn-default btn-md">Ver Propuesta</a></td>
								<td><a class="btn btn-danger btn-default btn-md">Eliminar</a></td>

						</tr>
						<tr>
								<td>3</td>
								<td><a class="btn btn-tcc btn-default btn-md">Ver Proyecto</a></td>
								<td>100</td>
								<td></td>
								<td><a class="btn btn-danger btn-default btn-md">Eliminar</a></td>



						</tr>
			</table> <br><br>
			<div class="container-fluid">
				<div class="col-md-offset-5">
					<a class="btn btn-danger btn-lg">Terminar Curso</a>
				</div>

			</div>



	</div>



	</body>

	<script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script
</html>
