<!DOCTYPE html>
<html ng-app="mod_MyLearn">
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
</head>
<body>
   <!--- <button data-ng-click="getDriveCode()">Conectar Drive</button>
    <button data-ng-click="start()">Start Drive</button>
    <button data-ng-click="test2()">Ask Drive Code</button>-->
    <button data-ng-click="test2()">{{drive}}</button>
    <button data-ng-click="getAuthInstance()">getAuthInstance</button>
    <button data-ng-click="solicitateCode()">solicitateCode</button>
</body>
</html>
